<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAA
    AAAAAEAAAAAAAAAAAAAAA/wCVANNJ/AD/jRIAAP+mAADq/wCmAP8A/yQyAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAAAAAIQATIDAQEAFAAEFmIAMHMCQAM2AAAANjAwBXAAAAYFcTA
    AFAAABkFgAAAkdhQEAjUAAAAzUAAAMAAAADAlAHEAAAAAABQDAAAAAAAAAAAAAADgBwAAz/MAAN/7AACZmQAACZAAACAAAAAKsgAAAEgAAAh
    EAAAYIAAADAQAAIABAACREQAAxAMAAPCPAAD4HwAA' rel="icon" type="image/x-icon" />
    <link href=' https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Music Genre Classification</title>
    <style>
      table { border-collapse: collapse; }
      tr { border: none; }
      td {
        border-right: solid 3px grey;
        border-left: solid 3px grey;
      }
      th, td {
        padding-left: 30px;
        padding-right: 30px;
      }
    </style>
  </head>
  <body style="background-color: #BEBEBE;">

    <p><center><font face='Manrope' size='12'><b>Music Genre Classification</b></font><br>
    <font face='Manrope' size='6'>A Web Application by: Yash Chauhan</font></center></p>

    <center><table cellspacing='0'>
      <tr>
        <td><a href='https://github.com/ITrustNumbers/Music_Genre_Classification_By_Model_Ensembling_Approach'>
          <font face='Manrope' color='#C45568' size='5'><b>GitHub: ML Model Development</b></font>
        </a></td>
        <td><a href='https://github.com/ITrustNumbers/Music_Genre_Classification_Web_Application'>
          <font face='Manrope' color='#C45568' size='5'><b>GitHub: Model Deployment</b></font>
        </a></td>
      </tr>
    </table></center>
      <br>

      <p><center><font face='Manrope' color=black size='5'><b>About:</b><br>
      <center><font face='Manrope' color=black size='5'>Want to find out which music genre gives you the kicks,
      upload some of your favourite songs and this tool will use the power of machine learning(Really Smart Mathematics) and
    return the name of the most probable genre for that song.</font></center></p>

      <form class="p-3 text-center" action='/predict' method='post' enctype='multipart/form-data'>
        <center><input class='form-control' type='file' name='audiofile' accept= 'audio/*' style="width: 75%;"></center>
        <input class='btn btn-primary mt-3' name='model' type='submit' value='Use XGBoost'>
        <input class='btn btn-primary mt-3' name='model' type='submit' value='Use CatBoost'>
        <input class='btn btn-primary mt-3' name='model' type='submit' value='Use Random Forest'>
        <input class='btn btn-primary mt-3' name='model' type='submit' value='Use Ensembled Model'>
      </form>

      <p><center><font face='Manrope' color=black size='5'><b>Under the hood:</b><br>
      <center><font face='Manrope' color=black size='5'>You can specify which Machine learning model you want to use, The application supports
        XGBoost, CatBoost and Random Forest Algorithms. Another option is to use the ensembled model I have created that has greater accuracy
        than any of the former ones. If you want to know about the Development of the ensembled model you can check the given github repository
        other than that try the models and go nuts.</font></center></p>

  </body>
</html>
