<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAACGdJREFUWEe1
    l1tsHPUVxn9z28vM3tdrO76svbFjJ44TkxQSbgkghRboA1LpCxWlL33oA1Krtg9t1aqq1AsStKII
    qVRVy61QNVWpQK1IAoRA2wANBQI18QXbITYbOw62483uemd35l/9Z7322nFKqdSxVt7b/M93vnO+
    c75VnHxWoLByKUrdi9W3654JQD7qr/Wva59depaiaN797nIc5f8HYKNEFBRF9eALpZqG4hTOilpG
    H5+9zGwdA2L1tUCSqYCXXT2A6nMZXF7ucnDvPaeQ9fj7T8FLxSIz2SlKSzbnprOUlkqUyza6puE4
    Fe/gfD6PqiqoCgR9OvFNbey++pq60srgVSCfGMDRQ4d4+423sEImoXgDmY5NXLyYJ92Z4fT4GE0t
    rSwuzOPz+8F1mZ9fIDuV5cv3fKUu81VG1gE4K6q01ei9tCEff+x3nDk9iRAujS2b2LG9h9HRcXYO
    9DMxNkYknkAVDguLBeJRi8FToywuLPKt73zdY7ZGfX3tV9rULU6v9EB9X9dKIm968YWXOH78BLqm
    41RsOtKtfDCZpb+vh6nJKaLRCPlcjqWSTTAQwHEd/IEAd37xC5imuVJeeZbMfk0ctyib8NKrBsAu
    lXjuuSNkszOEIxFU12ZkdIJEPMaFhXl0w4ehKZRKNg2JGLbj0tOVJnexwN5rr6E9s3nl8I0ZKEwL
    lI11LEG8N3iKSrnCxNAgp06+xb7rBrBijdhlQTweQTUMcMpeeXw+g4v5PLrPR1ffAKcnsnRt6V7T
    dOvyR3E/BsDrr51AKed55pnnSDZGufWWG0gmmrCsMIbP8GQpxedUSqiaj2KhwOnJKWy7QjTewJZt
    2zbid0URytoSyAKJNTV78omnpFaJJ6LEoib+UAKfEcBnGF5gTVFQVRVVU73/TtkmYFmkkgmcShnN
    DKNqEuja2VAr8TKA2lhaniF1mO+770F270yj+wNgBIlGE/h8ugztnSkByMEjj9flEJCAFIFlWkRl
    z+g66D5A9RITYjVBTyGeCmotUBtidQDu/+lDpNuacFWHdGcXlhVCDjQF1TtMDh/5p3n3VgeR91BV
    4vEYoZCFYgQ9BjYadopbmFntQEWiW1uyXz78GxRN48TwJB29Wwl6slrORlVRvELI/JbZc8oeAN3w
    E4lE2Lu9m46WBo+t9QCqDKwAEMtfWgUgkT3668dZKlc4PjRJuDmNqukoqoqmG8sRZWgpJLnhBJoQ
    aLrmMaTrOjfs6ubA3v7lgVQtwdo5UAdg/Q6Zz37I939wP5syaYbO5Qgmm3HOT2PmFzDjKUqtXdXc
    ZW0ROLZNeW6GSChArL2LfNlh//YODuzpQ9H0NYFrQKoMSOq9jVSXvRC8eegF7v3FYzRtbienBhCF
    JdqjcXp2X4W/ssTw8HvkUmlcmb1TYf7ka3S1dtCUjGHnc7DzanY0B9m3LYMSi1/ShF5IOQe82qwb
    RhLhK79/mgce/yPJzlbKPhN1dpYrbryVaMjP9v6dvPXCMwxrMQ94ITtJDOjs20VjQwxLdRjNTrGr
    u5093WnU1pbLAZgR1TW9tjYSwOFfPcoTTx/GzLThmGGsXI6d197An//yLF/76jcYee0lhrQoAdPk
    wuA/Sac7mT0/SzLVzI5tW5kYGeTqgT52b928AmD9VPJkuJEL8xh46iCPPPEnjEwbxFKYC+fZv38/
    m9IZSoU8r//9FUZKGu2ZLcxNjtMbUmnv3U4ikeTC5PsM2To3NYcZuPE6tJC10cqpqqDafKsM1Bpk
    4vUT/OSHD6B0tqHEmr0J17g4TTJsMVu0WYi3MfX+KN39A4hgiNyJl9jR1kjQDDKRr6C293B7R4Tt
    N+27rOFRRLHahLWrXia5s1m+ec+3CWTS2KEUgVjSk5emKei6xrnTYyQjJi0tzeRdP4t2hXI+j+H3
    o/t9hCyLu27aRXu6ZcPsvSYUS9IPrO3++klw9NDzHDvxNnPCxBdLVaeepuC6LpWKg+tWfaCciIbP
    530m94Js7EjI4kuf2UtTKvFJAXh+1WvMY0df5vlXXuWCEkZdmKfv/LS3dksolITirVpH03HlYAr4
    0YNB1GAQ0dqBFo1w14ErScSj/30JPD2sOF3Bi8+/zKFjf2Up2IB5NkvnFVex5AiE6yJcaaZcqFRQ
    XQenWKBcLOJbyhNqbsTu6eXum/cQCVv/GwDhVigsLvLdHz+IE2sh+uEkidwCjrpsr4XA0DRc2yZq
    WfhVBb+iYArB25lekt0Z7r7teqzLKGDDHqgy4DI+PMT0mTGKSyUOvzqIGmtEC8Wrzl/KxnVxvdqr
    KMLBcQWuW4GKg2KXMJMNdLWm+NyBvQTNjSV42SacHB3i6NG/MX1uBkPXGM9+RE5oRFONOEI6MBtU
    Dcd1l3+nuNVVjEBTpUJUMm0pRKGAD4c77/w8ieb0pWajXgWucFEVlbNnTnPwt09yamqejrYWRsY/
    4Ex2FtXQSfXtobRUqP68EsJjSvaCqhseALkJFUWCcrn7s59id2+rp/CxoWG6+wZIpXvWqMGtVFZl
    eOTQMW6+5UZOnTzJz37+MJoVp6GxkYLtMDc3x/m5BZK9V5Jb+KhqQlE9y+W5HMmEVxzhGVK5hu/Y
    t4VPXzfgDfh3B8doTIbYuuv6FQClYoHDzx6pApCr9OBTz3L7HbcxOTbKQ48cJBSOkLcrKH4LXyiM
    W+t8aUZUaUIrVXslrZhuoOrgUzUMXaG1MU5/1yailollBolHI4yPTdC/+8plNQjOjI0xfHIQZXrk
    uDj8h4McH/mIH937PUbefYc33znF+Mwcs4tFurf1EY6EqEi6ZDjZ+dKQug6KcPEbBob0iK6DT9MI
    hUyiYemahPdDxjQDtDQ1EPL7MMNRz8zIM4befYd//eMN/g3+CJ94afmW5wAAAABJRU5ErkJggg==' rel="icon" type="image/x-icon" />
    <link href=' https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Indian Coin Classifier</title>
    <style>
      table { border-collapse: collapse; }
      tr { border: none; }
      td {
        border-right: solid 3px grey;
        border-left: solid 3px grey;
      }
      th, td {
        padding-left: 30px;
        padding-right: 30px;
      }
    </style>
  </head>
  <body style="background-color: Gainsboro;">

    <p><center><font face='Manrope' size='12'><b>Indian Coin Denomination Classifier</b></font><br>
    <font face='Manrope' size='6'>A Web Application by: Yash Chauhan</font></center></p>

    <center><table cellspacing='0'>
      <tr>
        <td><a href='https://github.com/ITrustNumbers/Indian_Coin_Classification_Using_CNN'>
          <font face='Manrope' color='#C45568' size='5'><b>GitHub: ML Model Development</b></font>
        </a></td>
        <td><a href='https://github.com/ITrustNumbers/Indian_Coin_Classification_Web_Application'>
          <font face='Manrope' color='#C45568' size='5'><b>GitHub: Model Deployment</b></font>
        </a></td>
      </tr>
    </table></center>
      <br>

      <p><center><font face='Manrope' color=black size='6'>How to use:<br>
      <center><font face='Manrope' color=black size='5'>Upload an image of an Indian coin(Tail Side) in which the Denomination
      is clearly visible. Then click on the submit button and let the magic of artificial intelligence do the magic!</font></center></p>

      <form class="p-3 text-center" action='/prediction' method='post' enctype='multipart/form-data'>
        <center><input class='form-control' type='file' name='imagefile' accept= 'image/*' style="width: 75%;"></center>
        <input class='btn btn-primary mt-3' type='submit' value='Predict'>
      </form>

  </body>
</html>
